<script type="text/javascript" src="/templates/app_alarmclock/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/templates/app_alarmclock/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/templates/app_alarmclock/css/bootstrap-datetimepicker.min.css" />
<!-- Table 'app_alarmclock' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)<#LANG_HCB#>title<#LANG_HCE#>
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>
<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 (*)<#LANG_HCB#>linked_object<#LANG_HCE#>
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
</div>
<!-- ALARMON (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_ALARMON#] style="color:red;font-weight:bold"[#endif#]>
 Включен/выключен:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="alarmon" value="[#ALARMON#]" id="alarmon" [#if ALARMON='1'#]checked[#endif#]></div>
</div>
<!-- ALARMTIME (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_ALARMTIME#] style="color:red;font-weight:bold"[#endif#]>
 Время будильника:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="alarmtime" value="[#ALARMTIME#]" id="alarmtime"></div>
</div>
        <script type="text/javascript">
            $(function () {
                $('#alarmtime').datetimepicker(
				{pickDate: false, language: 'ru'}
				);
            });
        </script>
<!-- DAY_0 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_0#] style="color:red;font-weight:bold"[#endif#]>
 Пн:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_0" value="[#DAY_0#]" id="day_0" [#if DAY_0='1'#]checked[#endif#]></div>
</div>
<!-- DAY_1 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_1#] style="color:red;font-weight:bold"[#endif#]>
 Вт:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_1" value="[#DAY_1#]" id="day_1" [#if DAY_1='1'#]checked[#endif#]></div>
</div>
<!-- DAY_2 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_2#] style="color:red;font-weight:bold"[#endif#]>
 Ср:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_2" value="[#DAY_2#]" id="day_2" [#if DAY_2='1'#]checked[#endif#]></div>
</div>
<!-- DAY_3 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_3#] style="color:red;font-weight:bold"[#endif#]>
 Чт:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_3" value="[#DAY_3#]" id="day_3" [#if DAY_3='1'#]checked[#endif#]></div>
</div>
<!-- DAY_4 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_4#] style="color:red;font-weight:bold"[#endif#]>
 Пт:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_4" value="[#DAY_4#]" id="day_4" [#if DAY_4='1'#]checked[#endif#]></div>
</div>
<!-- DAY_5 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_5#] style="color:red;font-weight:bold"[#endif#]>
 Сб:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_5" value="[#DAY_5#]" id="day_5" [#if DAY_5='1'#]checked[#endif#]></div>
</div>
<!-- DAY_6 (varchar) -->
<div class="form-group">
 <label class="col-md-1 control-label"[#if ERR_DAY_6#] style="color:red;font-weight:bold"[#endif#]>
 Вс:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="day_6" value="[#DAY_6#]" id="day_6" [#if DAY_6='1'#]checked[#endif#]></div> 
</div>
<!-- CUSTOM_ON (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_CUSTOM_ON#] style="color:red;font-weight:bold"[#endif#]>
 Надпись, если включен:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="custom_on" value="[#CUSTOM_ON#]" id="custom_on"></div>
</div>
<!-- CUSTOM_OFF (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_CUSTOM_OFF#] style="color:red;font-weight:bold"[#endif#]>
 Надпись, если выключен:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="custom_off" value="[#CUSTOM_OFF#]" id="custom_off">Используйте %TIME% для вставки в надпись времени будильника</div>
</div>

<!-- ONCE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_ONCE#] style="color:red;font-weight:bold"[#endif#]>
 Одноразовый:
 </label>
 <div class="col-lg-4"><input type="checkbox" class="form-control" name="once" value="[#ONCE#]" id="once" [#if ONCE='1'#]checked[#endif#]></div>
</div>
<!-- Method (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_METHOD#] style="color:red;font-weight:bold"[#endif#]>
 Способ оповещения:
 </label>
 <div class="col-lg-4">
		<input type="radio" name="method" value="sound"[#if METHOD=="sound"#] checked[#endif#]><#LANG_MODULE_SOUNDFILES#><br>
		<input type="radio" name="method" value="method"[#if METHOD=="method"#] checked[#endif#]><#LANG_CALL_METHOD#><br>
		<input type="radio" name="method" value="script"[#if METHOD=="script"#] checked[#endif#]><#LANG_RUN_SCRIPT#><br>
 </div>
</div>

[#if METHOD=="sound" || METHOD=="script"#]
<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">[#VAL#]</label>
        <div class="col-lg-5">
		<select name="code" class="form-control" >
  <option value=""><#LANG_SELECT#>
  [#begin SOUNDFILES#]<option value="[#NAME#]"[#if SELECTED#] selected[#endif#]>[#NAME#][#end SOUNDFILES#]
 </select></div></div>[#endif#]

<!-- LINKED_METHOD (varchar) -->
[#if METHOD=="method"#]
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_METHOD#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_METHOD#> (при срабатывании):
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_method" value="[#LINKED_METHOD#]" id="linked_method"></div>
</div>[#endif#]
[#module name="linkedobject" object_field="linked_object" method_field="linked_method"#]
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>
